<%- include('header'); -%>
<div class="row ">
  <div class="col">

    <div class="box" id="heading">
      <h1>List Types</h1>
    </div>

    <div class="box" id="box">
      <% listTypes.forEach(function(item){%>
        <% if (item.name!="FAVICON ICO"){%>
          <form action="/deleteList" method="POST">
            <div class="item">
              <input name="checkbox" type="checkbox" value="<%=item.name %>" ></input>
              <input type="hidden" name="ListName" value="<%=titleItem %>" "></input>
              <a href="<%= item.name %>" > <%= item.name %> </a>
              <button class="deleteButton" type="submit" name="delete" style="background-color: transparent;"><i class="fa-solid fa-trash fa-beat-fade fa-2xl"></i></button>
            </div>
          </form>
        <% } %>
      <% }) %>

      <form class="items" action="/newList" method="POST">
        <div class="item">
          <input name="newList" type="text" autofocus="autofocus" placeholder="New List" autocomplete="off" />
          <button class="add" type="Submit" name="list" value="<%=titleItem%>">+</button>
        </div>
      </form>
    </div>

  </div>

  <div class="col">

    <div class="box" id="heading">
      <h1><%= titleItem%></h1>
    </div>

    <div class="box" id="box">
      <% nextItem.forEach(function(item){%>
      <form action="/delete" method="POST">
        <div class="item">
          <input name="checkbox" type="checkbox" value="<%=item.name %>" ></input>
          <input type="hidden" name="ListName" value="<%=titleItem %>" "></input>
          <p> <%= item.name %> </p>
          <button class="deleteButton" type="submit" name="delete" style="background-color: transparent;"><i class="fa-solid fa-trash fa-beat-fade fa-2xl"></i></button>
        </div>
      </form>

      <% }) %>

      <form class="items" action="/" method="POST">
        <div class="item">
          <input name="say" type="text" autofocus="autofocus" placeholder="New Item" autocomplete="off" />
          <button class="add" type="Submit" name="list" value="<%=titleItem%>">+</button>
        </div>
      </form>
    </div>

  </div>
  
  <%- include('footer'); -%>
